body{
 background-color: cyan;
}

.UserForm{
  padding: 10px;
  width: fit-content;
  border: 5px white dashed;
  border-radius: 20px
}

.Form_Button{
  padding: 2px;
  border: none;
  background-color: black;
  color: red;
  width: 100%
}

#chadoscore{
  text-align: center;
}
