body{
 background-image: url(https://wallpaperaccess.com/full/2029165.jpg);
 background-size: cover;
 color: white;
 font-size: 120%;
}

button {
  width: 100%;
  font-size: 110%;
}

input {
  width: 100%;
}

form {
  margin: auto;
  border: 5px white dashed;
  border-radius: 20px
}

.UserForm{
  padding: 10px;
  width: fit-content;

}

#chadometre{
  width: fit-content;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.Form_Button {
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 background-color: #4CAF50;
 border: none;
 border-radius: 15px;
 box-shadow: 0 5px #999;
}

.Form_Button:hover {
  background-color: #3e8e41
}

.Form_Button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Verify_Button {
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.Verify_Button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Verify_Button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.Verify_Button:hover span {
  padding-right: 15px;
}

.Verify_Button:hover span:after {
  opacity: 1;
  right: 0;
}



.Weact_Button {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: blue;
  color: orange;
  border-radius: 12px;
  box-shadow: 5px 2px 2px white;
}

.Weact_Button:hover {
  background-color: orange;
  color: blue;
}
